<div>
    <img class="inline counseling valign-top" src="img/services/peer_counseling.jpg"><div class="inline counseling-blurb">    
  		<h1>Peer Counseling</h1>  
  	  	<p>With everything you have to think about, you may feel like no one understands your situation right now. Lifeline is here to listen without judgment. You can meet one-on-one with a peer counselor who will help you process information, your feelings, and the choices ahead. The decision of how to handle your pregnancy is up to you; Lifeline wants for you to be able to make that decision confidently, and with our understanding and support.</p>
  	</div>
</div>