<h3>Lifeline's free programs offer help and support wherever you're at in facing an unexpected pregnancy.</h3>
<h1>Programs</h1>
<div class="content programs">    
    <h3>Earn While You Learn</h3>
    <p>Pregnancy can be a time of many questions. You may wonder what is normal, what labor and delivery will be like, and what to expect while parenting an infant. <b>It can be overwhelming.</b> Here at Lifeline Pregnancy Help Clinic, we have a program that can help ease some of this uncertainty. It is called "Earn While You Learn." (EWYL).</p>
    <p>When you participate in EWYL, you will have access to helpful information on a number of topics related to pregnancy and parenting. Topics include: what to expect in each trimester of your pregnancy, labor and delivery, prenatal nutrition, breastfeeding, newborn care and nutrition, bonding with your infant, and many more. The lessons will be <b>tailored to your individual needs.</b></p>
    <p>As an added benefit, with each lesson you successfully complete in EWYL you will earn points that can be used in our boutique. These points can be used to purchase items such as baby clothes, diapers, and newborn care products; or bigger items like car seats and baby furniture (based upon availability).</p>
    <p>This program is provided completely free of charge. If you are interested and would like more information or to make an appointment, call us at (660)665-5688.</p>

    <h3>DadLINE</h3>

    <p>Ever wish fatherhood came with an instruction manual? Do you wonder how other dads deal with the <b>responsibilities and challenges of being a dad</b>? Would you like a safe place to ask questions and learn about caring for your baby without being embarrassed or feeling like you're being judged? Now you can get the answers to all your questions and more in a safe, "dads only" environment.</p>
    <p>DadLINE will teach new fathers <b>the basics of fatherhood</b> as well as address challenges or concerns that a new father may face. If you would like to sign up for this free program, please call Lifeline at (660)665-5688.</p>
    <img src="img/services/dadline.jpg">
        
    <h3>Post-Abortion Support</h3>

    <p>At Lifeline we understand that without the necessary support to face an unexpected pregnancy, <b>abortion can often feel like the only option</b>. Many feel forced into this option, and then forced to deal with the aftermath on their own. For anyone who has experienced abortion, Lifeline offers post-abortion support in the form of a group Bible study. This non- judgmental support is free and confidential, and is not to replace professional counseling.</p>
    <p>Lifeline also offers an anonymous message board for those who need to work through a past abortion. If you are scared to come forward with your abortion, Lifeline is a safe place for you to open up about your story and <b>get the support you need</b>. This forum is open to be viewed by anyone who has had a past abortion, or is considering abortion as an option. You can sign up with a user name if you wish to leave messages. Please keep your comments appropriate. The site will be monitored for abusive messages.</p>
    <p><a href="http://www.postabortionlifeline.proboards.com/" style="text-decoration:underline;">Click here to get started</a></p>

    <h3>Pure Freedom</h3>

    <p>Lifeline values our local youth, and recognizes the pressures they face as they make choices that will directly affect their future freedom. Ideal for health classes, <b>Pure Freedom</b> is a <b>FREE, 3-day abstinence education program</b> Lifeline offers to all area middle and high schools. Our trained instructor provides all materials and leads the 3-day class completely free of charge. "Sex" is presented within a wholistic context of healthy relationships, dating and marriage, encouraging students to identify the connection between their current choices and future consequences and helping them to develop skills for maintaining healthy relationships.</p>	

    <h3>Teen Parent Lifeline</h3>

    <p>Teen Parent Lifeline is an educational support program designed specifically to <b>meet the needs and address the challenges of teen moms and dads</b>.  All parents ages 21 and younger, who are either parenting a small child (birth - 5 years) or who are currently pregnant are welcome.  Participants receive one-on-one education and support through weekly appointments, as well as once-per-month group sessions with other program participants, to help <b>build a community of peer support and understanding</b>.  Teen Parent Lifeline emphasizes positive parenting practices as well as goal setting, education, and plans for the future.  This program coordinates with Lifeline's Earn While You Learn program, allowing participants to earn supplies for their baby or toddler, while learning valuable skills.</p>

    <h3>A2A</h3>

    <p>The Alternatives to Abortion program is designed to assist women in carrying their unborn child to term instead of having an abortion, and to assist them in caring for their child or placing their child for adoption.  Services are available during pregnancy and for one year following birth.  The State of Missouri's Office of Administration manages the contract with community-based, non-profit organizations.  Program eligibility requirements must be met for enrollment in this program. </p>

</div>