<h1>Community Referrals</h1>
<div class="content">
    <p>As we work together to determine your individual needs, Lifeline will provide you with resources and other community referrals that can be particularly helpful for women facing unexpected pregnancy. These organizations offer assistance with medical care, housing, education, employment, insurance, etc. Through these resources, Lifeline can help you find the support you need.</p>
    <div class="inline community-blurb valign-top">
        <p><u>Lifeline frequently refers for:</u></p>
        <ul>
            <li>Obstetricians/Healthcare</li>
            <li>Medicaid</li>
            <li>WIC</li>
            <li>Housing Assistance</li>
            <li>Utility Assistance</li>
            <li>Food Pantries/Programs</li>
            <li>Adoption Agencies</li>
            <li>Professional Counseling</li>
            <li>Headstart</li>
            <li>Job Assistance</li>
        </ul>
    </div><img class="inline community" src="/img/services/community.jpg">
</div>