<div class="content">
	<div class="inline test-blurb valign-top">
	    <h1>Pregnancy Tests & Ultrasounds</h1>
	    <p><b>You may be pregnant. You will need a pregnancy test to know for sure.</b></p>
	    
	    <p>Lifeline provides <b>free lab-certified pregnancy tests</b>. They can detect the hCG pregnancy hormone as early as 7 days after conception, or 21 to 24 days after the first day of your last period. <b>The test is over 99% accurate.</b> Our Registered Nurse will perform the pregnancy test, and you will have the results during your appointment.</p>
	    <p>A positive pregnancy test may immediately be followed by a <b>free limited obstetrical ultrasound</b> for patients who meet qualifying criteria. A licensed sonographer will perform the ultrasound to provide you with more information about your pregnancy, including how far along in your pregnancy you may be. A friend or family member may sit in on the private ultrasound with you, if you prefer. Following the ultrasound, the Lifeline staff will be available to address any questions or concerns you may have, as well as to provide the support you will need for the choices ahead.</p>
	</div><img class="test inline" src="img/services/ultrasound.jpg">
</div>