<div navigation></div>

<div>
	<h1>Employment Opportunities</h1>
    
		<div>
				<h3>Part-Time Clinic Nurse</h3>
				<p>The Clinic Nurse has the responsibility of providing case management, prenatal and parenting education, pregnancy tests and other related medical services to clients of Lifeline Pregnancy Help Clinic.  In addition, the Clinic Nurse may be trained in limited obstetrical ultrasound to be performed under the supervision of the Medical Director.  The successful candidate will be well organized, self-motivated, personable, adhere to strict confidentiality, enjoy health education, and have a desire to share the love of Jesus Christ with all they serve.  Additional duties within the Clinic will also be performed as assigned.  Position is two days per week, 12-16 hours.</p>
 
				<p>Qualifications of Position:</p>
				<ul>
					<li>Must have current Missouri Registered Nursing license</li>
					<li>Possess bachelor’s or master’s degree in nursing or equivalent experience</li>
					<li>Exhibit strong interpersonal and instructional skills</li>
					<li>Computer skills including Microsoft Office programs, electronic file systems, etc.</li>
					<li>Experience in charting and maintaining client files</li>
					<li>Agreement with the Lifeline Statement of Faith and Statement of Principle</li>
					<li>Faithfully attend church and be a committed Christian who demonstrates a personal relationship with Jesus Christ as Savior and Lord</li>
					<li>Exhibit strong commitment to the sanctity of human life</li>
					<li>Submit to a criminal background check prior to employment</li>
					<li>Self-motivated, driven, and able to carry out responsibilities with little supervision</li>
					<li>Certified in limited obstetrical ultrasound, or willingness to be trained for certification</li>
					<li>Must complete Lifeline Client Advocate Training</li>
				</ul> 
 
				<p>Major Responsibilities:</p>
				<ul>
					<li>Perform client pregnancy tests and limited obstetrical ultrasound (only if certified)</li>
					<li>Client intake and enrollment to Lifeline Programs</li>
					<li>Client case management and referrals for various support services</li>
					<li>Provide prenatal and parenting education</li>
					<li>Charting, data entry, and follow-up for clients served</li>
					<li>Stay current on all curriculum updates and training necessary to maintain programs</li>
					<li>Help to ensure all medical equipment is properly operated and maintained</li>
					<li>Assist with supervision and training of client advocate volunteers</li>
					<li>As needed assist with special projects, fundraisers, etc.</li>
				</ul>
 
				<p>Training and Support:</p> 
				<ul>
					<li>On-the-job training and support will be provided</li>
					<li>Training in Limited Obstetrical Ultrasound both hands on and didactic</li>
				</ul>

				<p>Position Reports to:  Executive Director</p>
 
				<p>Resignation Requirements: Position requires at least a two-week notice for resignation in good standing.</p> 
 
				<p>Please send cover letter, resume and references to:<br>
				Lifeline Pregnancy Help Clinic <br>
				Attn:  Breanne Hunt <br>
				PO Box 663 <br>
				Kirksville, MO 63501</p>
		</div>
		
		<hr>
    <div>
		<h2>Lifeline Pregnancy Help Clinic's Statement of Faith:</h2>
 		<ol>
 			<li>We believe the Bible to be the inspired, the only infallible, authoritative Word of God.</li>
 			<li>We believe that there is one God, eternally existent in three persons:  Father, Son and Holy Spirit.</li>
			<li>We believe in the deity of our Lord Jesus Christ, His virgin birth, His sinless life, His miracles, His vicarious and atoning death through His shed blood, His bodily resurrection, His ascension to the right hand of the Father, and His personal return in power and glory.
			<li>We believe that regeneration by the Holy Spirit is absolutely essential for the salvation of lost and sinful man, and that this salvation is received through faith in Jesus Christ as Savior and Lord and not as a result of good works.</li>
			<li>We believe in the present ministry of the Holy Spirit by whose indwelling the Christian is enabled to live a godly life and to perform good works.</li>
			<li>We believe in the resurrection of both the saved and the lost; they that are saved unto the resurrection of life and they that are lost unto the resurrection of damnation.</li>
			<li>We believe in the spiritual unity of believers in our Lord Jesus Christ.</li>
		</ol>   
		<p>Adapted from the National Association of Evangelical’s statement of faith.</p>

		<h2>Lifeline Pregnancy Help Clinic's Statement of Principle:</h2>
		<ol>
			<li>Lifeline Pregnancy Help Clinic is an outreach ministry of Jesus Christ through His church.  Therefore, Lifeline, embodied in its volunteers, is committed to presenting the gospel of our Lord to women with crisis pregnancies both in word and in deed.  Commensurate with this purpose, those who labor as Lifeline board members, directors and volunteers are expected to know Christ as their Savior and Lord.</li>
			<li>Lifeline is committed to providing clients with accurate and complete information about both prenatal development and abortion.</li>
			<li>Lifeline is committed to integrity in dealing with clients, earning their trust and providing promised information and services.  Lifeline denounces any form of deception in its corporate advertising or individual conversations with its clients.</li>
			<li>Lifeline is committed to assisting women to carry to term by providing emotional support and practical assistance.  Through the provisions of God’s people and the community at large, women may face the future with hope, and plan constructively for themselves and their babies.</li>
			<li>Lifeline does not discriminate in providing services because of race, creed, color, national origin, age, or marital status of its clients.</li>
			<li>Lifeline does not recommend, provide, or refer for abortion or abortifacients.</li>
			<li>Lifeline offers assistance free of charge at all times.</li>
			<li>Lifeline is committed to creating awareness within the local community of the needs of pregnant women, and of the fact that abortion only compounds human need rather than resolving it.</li>
			<li>Lifeline does not recommend, provide, or refer single women for contraceptives.  (Married women seeking contraceptive information should be urged to seek counsel, along with their husbands, from their pastor or physician.)</li>
			<li>Lifeline recognizes the validity of adoption as one alternative to abortion, but it is not biased toward adoption when compared to other life-saving alternatives.  Lifeline is independent of adoption agencies, relating to them in the same manner as to other helpful referral sources.  Lifeline receives no payment of any kind from these agencies, does not enter into contractual relationships with them, and does not share combined office space.  Adoption agencies are not established under the auspice of centers.  Lifeline neither initiates nor facilitates independent adoptions, though they may refer for independent adoptions in states where it is legal.</li>
		</ol>
    </div>
</div>