<div class="s_header" ng-controller="Lifeline">
    <div class="support valign-top inline">
        <span class="inline facebook"><a href="https://www.facebook.com/pages/Friends-of-Lifeline-Pregnancy-Help-Clinic/155665104511272"><img src="img/icons/Facebook.png"></a></span>
        <span class="inline youtube">
        <a href="http://www.youtube.com/channel/UC-GNQg6qU1GvDhhP9sLKx2w"><img src="img/icons/YouTube.png"></a></span>
        <span class="inline pinterest">
        <a href="http://www.pinterest.com/lifelinephc/"><img src="img/icons/Pinterest.png"></a></span>
    </div><div class="address valign-top inline">
        <h1>{{info.name}}</h1>
        <h2>{{info.phone}} <small class="muted">&#9679; {{info.street}}, {{info.citystate}}</small></h2>
    </div>
</div>

<div class="s_navigation" supporter-body>
    <div>
        <a href="#/supporter-index">Home</a>
    </div><div>
        <span><a href="#/supporter-learn-more">Learn More</a></span>
        <span class="drop"><a href="#/supporter-about">About Us</a></span>
        <span class="drop"><a href="#/supporter-services">Our Services</a></span>
        <span class="drop"><a href="#/supporter-videos">Videos</a></span>
        <span class="drop"><a href="#/supporter-stories">Client Stories</a></span>
        <span class="drop"><a href="#/blog">Blog</a></span>
    </div><div>
        <span><a href="#/supporter-get-involved">Get Involved</a></span>
        <span class="drop"><a href="#/supporter-volunteer">Volunteer</a></span>
        <span class="drop"><a href="#/supporter-events">Events</a></span>
        <span class="drop"><a href="#/supporter-new-projects">New Projects</a></span>
        <span class="drop"><a href="#/employment">Employment Opportunities</a></span>
        <!-- <span><a href="#">Annual Report</a></span> -->
    </div><div>
        <span><a href="#/supporter-donate">Donate</a></span>
        <span class="drop"><a href="#/taxCredits">Tax Credits</a></span>
    </div><div>
        <a href="#/supporter-contact">Contact</a>
    </div>
</div>