<div navigation></div>
<div>
	<h1>Events</h1>
	<div>
		<p>Our fundraising events take place three times throughout the year, providing a variety of ways to give and get involved in Lifeline's ministry.</p>

		<div class="event">
			<h3>Fundraising Banquet</h3>
				<img src="img/banquet.png"/>
			<p>Join us for Lifeline PHC's Annual Fundraising Banquet! For the first time ever,
				we are excited to offer two nights of the banquet - Choose either November 5th or November 6th!
				The doors will open at 5:30 p.m. and the Dinner and Program will be 6:00 - 8:00 p.m.</p>
			<p>Keynote speaker, Carol Everett, will share her testimony and issue challenge as well as encouragement.</p>
			<p>Please RSVP by calling us at 660-665-5688, or email at <a class="email" href="mailto:{{info.email}}">{{info.email}}</a> <strong>by October 29, 2015</strong> to reserve your seat.  Join us in <i>Bringing Hope to Life!</i></p>

		</div>

		<div class="event">
			<h3>Walk for Life</h3>
			<p>We had an amazing turn out for Walk for Life 2015. We look forward to seeing you next year!</p>
		</div>

		<div class="event">
			<h3>Baby Bottle Blessing</h3>
			<p>Thanks to everyone that participated in this year’s Baby Botttle Blessing campaign held January 18 – February 15, 2015.  We are still receiving bottles in and will be posting a grand total once everyone has turned their bottles back in.  Than you to all of the churches and organizations that participated this year!</p>
		</div>

	</div>
</div>
