<div navigation></div>
<div>
	<h1>Events</h1>
	<div>
		<p>Our fundraising events take place three times throughout the year, providing a variety of ways to give and get involved in Lifeline's ministry.</p>

		<div class="event">
			<h3>Walk for Life</h3>
			<p>Thank you for another great Walk for Life! We will announce dates for our next
				walk early next year!</p>
		</div>

		<div class="event">
			<h3>Baby Bottle Blessing</h3>
			<p>Thank you for all of your support!The Annual Baby Bottle Blessing Campaign will pick up again early in 2017.
		</div>



		<div class="event">
			<h3>Fundraising Banquet</h3>
			<p>Our Annual Fundraising Banquet was held November 5 and 6, 2015, and was
				a great success with over 600 people attending over the two nights.
				We will be posting information on the 2016 banquet very soon!</p>
		</div>

	</div>
</div>
