<div navigation></div>
<div>
	<h1>Events</h1>
	<div>
		<p>Our fundraising events take place three times throughout the year, providing a variety of ways to give and get involved in Lifeline's ministry.</p>

		<div class="event">
			<h3>Walk for Life</h3>
			<p>Saturday, May 30, 2015<br>
				10:00 a.m.<br>
				Baptist Student Union<br>
				110 W. Normal<br>
				Kirksville, MO 63501</p>
			<p>The Walk for Life is a great fundraiser for the entire family!  You can walk as an individual or as a team of 4.  Walkers raise pledges from family and friends prior to the event in support of their commitment to join us and walk two miles the day of the Walk.  All proceeds raised go directly to support the free services Lifeline provides.</p>
			<div class="well"><div ng-include="'partials/supporter/supporter-walk-registration.html'"></div></div>
		</div>

		<div class="event">
			<h3>Fundraising Banquet</h3>
			<p>Save the Dates: November 5, 2015 &amp; November 6, 2015</p>
			<p>That’s right, we will be having two consecutive banquet nights this year due to having outgrown the banquet space.  Attendees may choose to attend either Thursday or Friday night.  More details on the banquet coming soon!  Our speaker this year is Carol Everett!</p>
		</div>

		<div class="event">
			<h3>Baby Bottle Blessing</h3>
			<p>Thanks to everyone that participated in this year’s Baby Botttle Blessing campaign held January 18 – February 15, 2015.  We are still receiving bottles in and will be posting a grand total once everyone has turned their bottles back in.  Than you to all of the churches and organizations that participated this year!</p>
		</div>
		
	</div>
</div>