<div navigation></div>

<div class="content tree inline valign-top">
    
    <div class="blurb services-block">
        <span>
            <a href="#/supporter-services"><h1>Our Services</h1></a>
        
            <div class="services">
                Pregnancy tests, limited obstetrical ultrasound, prenatal &amp; parenting education, peer counseling &amp; abstinence education are just a few of the services Lifeline is able to provide to our clients completely free of charge, thanks to the generous support of our community.
            </div>
        </span>
    </div>
    
    <div class="blurb team-block">
        <span>
            <a href="#/supporter-about"><h1>Our Team</h1></a>
    
            <div class="team">
                The Lifeline team, comprised of our Staff, Board of Directors, and Volunteers connects our community's support directly to our clients' various needs.
            </div>
        </span>
    </div>
    
    <div class="blurb community-block">
        <span>
            <a href="#/supporter-volunteer"><h1>Our Community</h1></a>
        
            <div class="community">
                The very foundation of Lifeline's ministry is our community of supporters - individuals, churches, families, organizations &amp; friends whose partnership in giving allows for the daily work and growth of Lifeline's ministry.
            </div>
        </span>
    </div>
</div>