<div navigation></div>
<div>
	<h1>About Us</h1>
    <p>Lifeline Pregnancy Help Clinic is a non-profit, Christ-centered organization that upholds the value of human life through the care of pregnant women and those affected by an unplanned pregnancy. We exist to save and change lives.</p>
    <p>Lifeline was established in 1997 and since has been serving women and families from all of Northeast Missouri. Our service areas are broad, but our overall goal is the same: to serve all with an open heart and open arms as they progress through pregnancy and into parenthood.</p>
    <p>The Center is open Monday - Thursday:
        <span>Monday - Wednesday: 9:00 a.m. - 5:00 p.m.</span>
        <span>Thursday:  10:00 a.m. - 6:00 p.m.</span>
        <span><b>Phone: 660-665-5688</b></span>
    </p>
</div>

<div ng-include="'partials/lifeline/lifeline-staff.html'"></div>

<div>
	<p><b>Lifeline Pregnancy Help Clinic Board of Directors 2015 </b><br>
		Jeannie Maillie – Chair <br>
		Joyce Lundstrom  – Vice Chair <br>
		Chad McNeely – Secretary <br>
		Sue Fouch – Treasurer <br>
		Sherie Eklof <br>
		Ashley McCarty<br>
	  Ashlynn Newman</p>
</div
