<div navigation></div>

<div>
	<h1>Contact Us</h1>
	<div class="well">
		<div ng-include="'partials/lifeline/lifeline-map.html'" class="inline valign-top map"></div><div class="address-block inline valign-top" ng-controller="Lifeline">
			<div class="address">
            <h1>{{info.name}}</h1>
            <h3 class="street">{{info.street}}</h3>
            <h3 class="location"><span class="citystate">{{info.citystate}}</span> <span class="zip">{{info.zip}}</span></h3>
            <h3 class="phone">Phone: {{info.phone}}</h3>
            <h3 class="fax">Fax: {{info.fax}}</h3>
            <a class="email" href="mailto:{{info.email}}">{{info.email}}</a>
        </div>
		</div>
	</div>
</div>