<div navigation></div>
<div>
	<h1>Volunteer</h1>
	<div>
		<p>Become a part of our community by joining other individuals, organizations &amp; families in supporting Lifeline.  Watch our promotional video, share it with friends, and contact us to see where you'll fit best in our ministry.  Join us!</p>
		<iframe width="640" height="360" src="//www.youtube.com/embed/966PXL2m7uw?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<h3>{{volunteerFormInfo.volunteer.blurb}}</h3>
	<div ng-include="'partials/supporter/templates/volunteer.html'"></div>
	<h1>Board of Directors</h1>
	<h3>{{volunteerFormInfo.board.blurb}}</h3>
	<div ng-include="'partials/supporter/templates/board.html'"></div>
</div>