<div navigation></div>
<div>
	<h1>Tax Credits</h1>
	<h3>Missouri Pregnancy Resource Center Tax Credits  (Individuals or Businesses)</h3>
	<p>Lifeline is an approved Missouri PRC Tax Credit organization.  Donors contributing $100 or more to Lifeline in a calendar year are eligible to receive this tax credit.  Quarterly Lifeline processes applications for all qualifying donors.  If you receive one of these applications and would like to take advantage of the credit, you simply fill in the required information and return the form to Lifeline.  To learn more or to see if these credits would be a benefit to you please consult your tax professional or visit:  <a href="http://dss.mo.gov/dfas/taxcredit/pregnancy.htm">http://dss.mo.gov/dfas/taxcredit/pregnancy.htm</a>.</p>

	<h3>Missouri Neighborhood Assistance Program (NAP) Tax Credits (Businesses Only):</h3>
	<p>The Missouri Department of Economic Development (DED) has approved a total of $45,159 in tax credits under the Neighborhood Assistance Program (NAP) to Lifeline Pregnancy Help Clinic for donations received <b>January 1, 2015 - December 31, 2017</b>.  </p>

	<p>NAP helps non-profit organizations raise private-sector funds by providing partial state tax credits to businesses that make contributions to approved community improvement projects.  The NAP is utilized by non-profit organizations throughout Missouri to make their communities a more desirable place to live and work, as well as pave the way for economic development.</p>

	<p>  Missouri businesses, or individuals with business income, will be able to utilize these <b>50% tax credits</b> when making contributions to support Lifeline’s <i>Pure Freedom</i> school-based abstinence education program.  <i>Pure Freedom</i> is provided as a free service to schools all across Northeast Missouri.  Businesses can donate cash, materials, supplies or equipment; technical assistance and professional services; labor; real estate; or stocks and bonds. <i>Credits can equal up to 50% of the total amount contributed. </i> </p>

	<p>You can learn more about these tax credits by contacting Lifeline directly or visiting the <a href="http://ded.mo.gov/BCS%20Programs/BCSProgramDetails.aspx?BCSProgramID=58">Missouri Department of Economic Development's website</a>.</p>
</div>
