<h1>Stories</h1>
<h3>Lifeline is sharing compassion with those facing unexpected pregnancy, and seeing change - one life at a time.</h3>

<div class="stories content">
    <div class="story">
        <h2>Sandra's Story</h2>
        <p>Sandra is not the typical Lifeline client (if there is such a thing). She is in her forties. Sandra first came to Lifeline 5 years ago pregnant with her son, thinking she wanted an abortion. She had already had previous abortions. With Lifeline's support, she decided to carry and parent her baby. She went on to keep a job, and get her degree online. During her time at Lifeline Sandra really blossomed and found confidence in herself -- something she had never had before.</p>
    
        <p>Things were going great, and then she found herself pregnant again unexpectedly. She came to Lifeline for a pregnancy test and ultrasound to confirm the pregnancy. The father of the baby wanted nothing to do with Sandra or the baby after finding out. Sandra was again alone and facing tough decisions, but she knew she could turn to Lifeline for help. We talked with her a lot about adoption which she was initially interested in, but ultimately she decided she wanted to keep her baby. During this pregnancy and since the birth of the baby, Sandra has been taking steps toward a relationship with Jesus Christ. She has begun going to church, reading her Bible and praying. She is still facing the struggles a single mom with two children under the age of six faces, but is doing so with faith and the help and support of Lifeline.</p>
    </div>
    
    <div class="story">
        <h2>Isaac's Story</h2>
        <p>Isaac accompanied his girlfriend to Lifeline for a pregnancy test. The test was positive and Isaac, still a teenager, learned that he was going to be a father. He has overcome many obstacles in his life, including drug addiction. He has been clean for over a year now and is working hard to keep on the right path. Isaac started the DadLINE program and meets with his fatherhood mentor weekly while his girlfriend does prenatal education with a Lifeline counselor. Isaac is determined to be a great dad for his child, as well as for his girlfriend's other children. Isaac's biological father has been addicted to drugs and in prison for most of Isaac's life. To say he has never had a good father figure role model is an understatement. However, he has recently started to attend church and is seeking all the avenues he can to ensure he is going to be a good man and a great father.</p>
    </div>
</div>